{
  "parser": "babel-eslint",
    "extends": [
      "prettier"
    ],
    "plugins": [
      "prettier"
    ],
    "rules": {
      "semi": 1,
      "arrow-parens": 0,
      "prettier/prettier": [
        "error", {
          "semi": true
        }
      ]
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
    }
  }